body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: grey;
    color: white;
    }


button {
    text-decoration: none;
    width: 100px;
    margin: 30px 10px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: #0a55ce;
    border-radius: 10px;
}

button:hover {
	background-color: #edf1f7;
}

p {
    font-size: 36px;
    text-align: center;
}


